[Unit]
Description=SnapCal API - Admin
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/snapcal-admin/apps/api
ExecStart=/usr/bin/pnpm start
Restart=always
RestartSec=3
Environment=NODE_ENV=development
Environment=PORT=3005

[Install]
WantedBy=default.target
